body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: 400;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 57px;
  padding-right: 57px;
}

.main-nav {
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  display: flex;
  min-height: 73px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-nav,
.user-nav,
.menu-list-hover {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  width: 405px;
}

.user-nav {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav a {
  background-color: #a1b4a9;
}

.site-nav a {
  border-bottom: 1px solid #9db1a5;
}

.site-nav a:hover,
.site-nav a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border: none;
}

.site-nav .site-nav-current {
  background-color: #d07058;
  border: none;
}

.user-nav a:hover,
.user-nav a:focus {
  color: #323232;
  background-color: #f8f7f4;
}

.site-nav a:active {
  color: #333333;
}

.menu-list-hover a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  border: none;
}

.menu-list-hover .new-ice-cream {
  font-weight: 700;
}

.menu-list-hover a:hover,
.menu-list-hover a:focus {
  background-color: #fbded8;
}

.menu-list-hover a:active {
  background-color: #f6b5a5;
}

.menu-list-hover .current-page {
  color: #ffffff;
  background-color: #d07058;
}

.search-form-hover input,
.login-form-hover input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.hover-cart {
  background-color: #f8f7f4;
}

.hover-cart td {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.hover-cart span {
  color: #999999;
}

.hover-cart .cart-sum {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.hover-cart .cart-link:hover,
.hover-cart .cart-link:focus {
  color: #ffffff;
}

.login-form-hover {
  background-color: #f8f7f4;
}

.login-form-hover .login-button {
  font-size: 18px;
  line-height: 24px;
  background-color: #ec573b;
  color: #fefefe;
}

.login-form-hover .link-login {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  border-bottom: 1px solid #adacaa;
  background-color: inherit;
}

.login-form-hover .link-login:hover,
.login-form-hover .link-login:focus,
.login-form-hover .link-login:active {
  color: #e84d37;
  border-color: #e84d37;
}

.time-and-tel {
  color: #ffffff;
  font-weight: 700;
  text-align: right;
}

.time-and-tel .time-open {
  font-size: 14px;
  line-height: 16px;
}

.time-and-tel .tel {
  font-size: 22px;
  line-height: 24px;
}

.slider-list {
  list-style: none;
}

.slider-item {
  display: none;
}

.btn-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.btn-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.btn-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-item p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.slider-item .slider-button {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  background-color: #ec573b;
  font-weight: 700;
}

.bonus {
  margin-bottom: 40px;
}

.bonus-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.bonus-list .bonus-raspberries {
  background-image: url('../img/raspberries_back.jpg');
  background-repeat: no-repeat;
}

.bonus-list .bonus-chocolate {
  background-image: url('../img/choco_back.jpg');
  background-repeat: no-repeat;
}

.bonus-item {
  width: 560px;
}

.bonus-item h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.bonus-item .bonus-text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
}

.button {
  color: #ffffff;
  background-image: linear-gradient(to top, #e34d3a, #f26843);
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-image: linear-gradient(to top, #ec6f5e, #f58669);
}

.button:active {
  background-image: linear-gradient(to top, #e1613e, #d74632);
}

.hit {
  margin-bottom: 30px;
}

.hit-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hit-list .hit-item {
  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;
}

.hit-item {
  width: 267px;
}

.hit-item .hit-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.hit-item span {
  font-size: 30px;
}

.hit-item .hit-link {
  border-bottom: 1px solid #9db1a5;
  font-weight: 500;
}

.hit-item .hit-link:hover,
.hit-item .hit-link:focus,
.hit-item .hit-link:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.features {
  background-image: url('../img/waffle_back.jpg');
  background-repeat: no-repeat;
}

.features .features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features .feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
  width: 484px;
  margin-left: 78px;
}

.feature-list .feature-ice-cream{
  background-image: url('../img/ice-cream.svg');
  background-repeat: no-repeat;
}

.feature-list .feature-leaf{
  background-image: url('../img/leaf.svg');
  background-repeat: no-repeat;
}

.feature-list .feature-cow{
  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
}

.feature-list .feature-thermometer{
  background-image: url('../img/thermometer.svg');
  background-repeat: no-repeat;
}

.post-in-blog {
  background-image: url('../img/ice-back.png');
  background-repeat: no-repeat;
}

.post-in-blog h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.post-in-blog .post-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  border-bottom: 2px solid #353535;
}

.suscribe {
  background-image: url('../img/post-back.svg');
  background-repeat: no-repeat;
}

.suscribe .suscribe-text {
  color: #5a5a5a;
}

.suscribe-form .suscribe-email {
  line-height: 24px;
  color: #999999;
}

.suscribe .suscribe-button {
  color: #ffffff;
}

.map .contacts{
  background-image: url('../img/map-ice.svg');
  background-repeat: no-repeat;
  background-color: #fefefe;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts .adress {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts .time-and-phone {
  line-height: 20px;
}

.time-and-phone p {
  line-height: 22px;
}

.contacts .phone {
  color: #323232;
  font-size: 18px;
  font-weight: bold;
}

.main-footer {
  color: #ffffff;
}

.social .social-list {
  list-style: none;
}

.main-footer .info-list {
  list-style: none;
}

.main-footer a {
  border-bottom: 1px solid #9db1a5;
  font-size: 13px;
  line-height: 18px;
}

.info-list .special-item {
  font-weight: 700;
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.main-footer .footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright .link-copyright {
  font-size: 12px;
}

.modal {
  background-color: #f8f7f4;
}

.modal-feedback h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-feedback input,
.modal-feedback textarea {
  line-height: 24px;
  color: #999999;
}

.modal-feedback .feedback-button {
  color: #ffffff;
}

.inner-page {
  color: #ffffff;
  background-color: #92a89c;
  font-weight: 500;
}

.main-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs .breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.filter-form fieldset {
  border: none;
}

.filter-form legend{
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-form ul {
  list-style: none;
  line-height: 18px;
}

.sorting-list option {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.sorting-list .selected {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.filter-form .filter-button {
  line-height: 18px;
  background-color: #a6b7ae;
  color: #ffffff;
  font-weight: 500;
  border: 2px solid #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-item .catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item span {
  font-size: 30px;
}

.catalog-item .catalog-link {
  border-bottom: 1px solid #9db1a5;
  font-weight: 500;
}

.catalog-item .catalog-link:hover,
.catalogt-item .catalog-link:focus,
.catalog-item .catalog-link:active {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.catalog-list .catalog-item:hover,
.catalog-list .catalog-item:focus {
  background-color: #9cb0a4;
}

.catalog-item .catalog-item-hover,
.catalog-item .catalog-item-hover {
  display: none;
}

.catalog-item:hover .catalog-item-hover,
.catalog-item:focus .catalog-item-hover {
  display: block;
}

.paginator-list {
  list-style: none;
}

.pagination-item a {
  line-height: 18px;
}

.pagination-item-current a {
  color: #323232;
  background-color: #ffffff;
}

.disable a {
  color: #9bafa4;
}

.pagination-item a[href]:hover,
.pagination-item a[href]:focus {
  background-color: #9db1a5;
}

.pagination-item a[href]:active {
  color: #323232;
  background-color: #ffffff;
}
